.navbar-fixed {
    height: 110px
}
nav {
    height: 110px
}
.nav-wrapper {
    padding-left: 20px;
}
.content {
    position: relative;
}
.list {
    width: 80%;
    margin: auto;
    border: 1px solid #dadada;
}
.records-per-page-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.records-per-page-form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.records-per-page-form-content > .btn {
    margin-left: 10px;
}
.list-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}
.responsive-img {
    max-height: 60px;
    width: auto;
    margin-left: 20px;
}
.table-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px auto auto;
    color: #888888;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}