@require "sizes.styl"

#alertMask
  -fx-pref-width: winWidth
  -fx-pref-height: winHeight
  -fx-background-color: rgba(0, 0, 0, 0.2)
  -fx-alignment: center
  .alertContent
    -fx-padding: 20px
    -fx-pref-width: 350px
    -fx-pref-height: 150px
    -fx-background-color: white
    -fx-alignment: center
    .label
      -fx-pref-width: 350px
      -fx-alignment: center
      -fx-font-size: 16
    .button
      -fx-pref-width: 350px
    .text-field
      -fx-font-size: 16
      -fx-pref-width: 350px
  .confirmAlertContent
    @extend .alertContent
    -fx-spacing: 70px
  .inputAlertContent
    @extend .alertContent
    -fx-spacing: 20px