@require "sizes.styl"

cardWidth = 350px
cardHeight = 500px
cardHeaderHeight = 50px

#authRoot
  -fx-background-color: white
  -fx-alignment: center
  -fx-pref-width: winWidth
  -fx-pref-height: winHeight
  .formField
    -fx-alignment: top-left
    -fx-padding: 0 0 15px 0
    -fx-spacing: 3px
  .formErrorField
    -fx-alignment: top-left
    -fx-spacing: 3px
  .formLabel
    -fx-font-size: 18
  .formError
    -fx-font-size: 14
    -fx-text-fill: rgb(255, 100, 100)
  .formTextInput
    -fx-font-size: 16
  .formSubmit
    -fx-pref-height: 30px
    -fx-background-color: white
    -fx-font-size: 16
    -fx-effect: dropshadow(gaussian, #AAA, 10, 0.2, 0, 0)
    &:pressed
       -fx-background-color: rgb(200, 200, 200)
  #authCard
    -fx-pref-width: cardWidth
    -fx-pref-height: cardHeight
    -fx-background-color: white
    -fx-background-radius: 15px
    -fx-effect: dropshadow(gaussian, #AAA, 35, 0.2, 0, 0)
    .boxHeader
      -fx-pref-width: cardWidth
      -fx-pref-height: cardHeaderHeight
      .toggle-button
        -fx-pref-width: (cardWidth / 2)
        -fx-pref-height: cardHeaderHeight
      .buttonLeft
        -fx-background-radius: 15px 0 0 0
      .buttonRight
        -fx-background-radius: 0 15px 0 0
    #authContent
      -fx-pref-width: cardWidth
      -fx-pref-height: (cardHeight - cardHeaderHeight)