@require "sizes.styl"

.roomTypeItemRoot
  -fx-pref-height: 55px
  -fx-alignment: center-left
  .itemField
    -fx-pref-width: ((((winWidth - leftNavigationWidth) * 0.7) / 5) - 16px)
  .label
    -fx-alignment: center