@require "sizes.styl"

topPadding = ((winHeight - (winHeight * 0.8)) / 2)
sidePadding = ((winWidth - (winWidth * 0.5)) / 2)

.editForm
  -fx-background-color: white
  -fx-pref-width: winWidth
  -fx-pref-height: (winHeight - toolbarHeight)
  -fx-translate-y: toolbarHeight
  -fx-padding: topPadding sidePadding topPadding sidePadding
  .formWrapper
    -fx-pref-width: (winWidth * 0.5)
    -fx-pref-height: (winHeight * 0.8)
    -fx-background-color: white
  .buttonBox
    -fx-pref-width: (winWidth * 0.5)
    .button
      -fx-pref-width: ((winWidth * 0.5) / 2)
      -fx-font-size: 15
  .requestForm
    -fx-pref-width: ((winWidth * 0.5) - 10px)
    -fx-pref-height: ((winHeight * 0.8) - 10px)
    -fx-spacing: 30px
    .requestField
      -fx-spacing: 5px
      .label
        -fx-font-size: 15
      .text-field
        -fx-pref-width: (winWidth * 0.5)
        -fx-font-size: 16