scroll-color = #FFF
thumb-color = #000

.list-view, .scroll-pane
  -fx-border-width: 0px
  -fx-background-insets: 0px
  -fx-padding: 0px
  .corner
    -fx-background-color: scroll-color
    -fx-background-insets: 0
  .scroll-bar
    -fx-background-color: scroll-color
    -fx-background-insets: 0
    &:vertical
      -fx-pref-width: 10px
    &:horizontal
      -fx-pref-height: 10px
    .track
      -fx-background-color: transparent
      -fx-background-radius: 0em
      -fx-border-radius: 0em
    .increment-button, .decrement-button
      -fx-background-radius: 0em
      -fx-padding: 0px
      -fx-background-color: transparent
    .increment-arrow, .decrement-arrow
      -fx-background-color: transparent
      -fx-padding: 0
    .thumb
      -fx-background-insets: 2, 0, 0
      -fx-background-radius: 2em
      -fx-background-color: thumb-color