@require "auth.styl"

#loginRoot
  -fx-pref-width: cardWidth
  -fx-pref-height: (cardHeight - cardHeaderHeight)
  -fx-background-color: white
  -fx-alignment top-center
  -fx-padding: 20px 10px 20px 10px
  -fx-spacing: 8px
  -fx-background-radius: 0 0 15px 15px