@require "auth.styl"

#registerRoot
  -fx-pref-width: cardWidth
  -fx-pref-height: (cardHeight - cardHeaderHeight)
  -fx-hbar-policy: never
  -fx-background-radius: 0 0 15px 15px
  -fx-background-insets: 0;
  -fx-padding: 0 0 15px 0;
  #registerWrapper
    -fx-pref-width: cardWidth
    -fx-pref-height: (cardHeight - cardHeaderHeight  - 15px)
    #registerContent
      -fx-background-color: white
      -fx-pref-width: (cardWidth - 10px)
      -fx-alignment top-center
      -fx-padding: 20px 10px 5px 10px
      -fx-spacing: 8px
      -fx-background-radius: 0 0 15px 15px