@require "sizes.styl"

.requestItemRoot
  -fx-pref-height: 55px
  -fx-alignment: center-left
  .itemField
    -fx-pref-width: ((((winWidth - leftNavigationWidth) * 0.7) / 5) - 16px)
  .label
    -fx-alignment: center
  .additionalField
    -fx-alignment: center
    -fx-spacing: 5px
    .label
      -fx-max-width: ((((winWidth - leftNavigationWidth) * 0.7) / 5) - 18px)