@require "sizes.styl"

.roomTypeRoot
  -fx-pref-width: (winWidth - leftNavigationWidth)
  -fx-max-width: (winWidth - leftNavigationWidth)
  -fx-pref-height: (winHeight - toolbarHeight)
  -fx-max-height: (winHeight - toolbarHeight)
  -fx-translate-x: 35px
  -fx-translate-y: 55px
  -fx-background-color: white
  -fx-padding: 20px
  -fx-spacing: 20px
  .filterPane
    -fx-pref-width: ((winWidth - leftNavigationWidth) * 0.3)
    -fx-background-color: white
    -fx-effect: dropshadow(gaussian, #AAA, 10, 0.2, 0, 0)
    -fx-hbar-policy: never
    .filterPaneContent
      .label
        -fx-font-size: 14
      > .label
        -fx-font-size: 18
      -fx-alignment: top-center
      -fx-pref-width: ((winWidth - leftNavigationWidth) * 0.3 - 30px)
      -fx-padding: 10px
      -fx-spacing: 15px
      .servicesBox
        -fx-alignment: center-left
        -fx-spacing: 8px
      .filterField
        -fx-alignment: top-left
        -fx-spacing: 5px
        .filterRange
          -fx-hgap: 5px
          -fx-vgap: 3px
        .date-picker
          -fx-pref-width: ((winWidth - leftNavigationWidth) * 0.3 - 30px)
  .contentWrapper
    -fx-alignment: top-center
    -fx-spacing: 20px
    .listHeader
      -fx-pref-width: ((winWidth - leftNavigationWidth) * 0.7)
      for num in (4..5)
        .headerField-{num}
          -fx-pref-width: ((((winWidth - leftNavigationWidth) * 0.7) / num) - 16px)
      .label
        -fx-alignment: center
    .subtitle
      -fx-font-size: 18
      -fx-alignment: top-center
    .contentPagination
      -fx-pref-width: ((winWidth - leftNavigationWidth) * 0.7)
      -fx-pref-height: (winHeight - toolbarHeight)
      -fx-background-color: white
    .recordsPerPageWrapper
      -fx-alignment: center
      -fx-spacing: 5px
      .spinner
        .text-field
          -fx-pref-column-count: 2
        .increment-arrow-button, .decrement-arrow-button
          -fx-padding: 3px